.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 100%;
    overflow: scroll;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.msg_avatar{
    height: 60px;
    width: 60px;
}

.dropdown-submenu {
      position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
    }

.panel-body{
    height: 70%;
}


.modal-backdrop.in { 
    z-index: auto;
    }
.modal-dialog
{
    width: 300px !important;
}

.popover{
        height: 320px;
        width: 320px;
    }

.emoticon{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

    .emoticon-text{
    width: 30px;
    height: 30px;
  }



#texto_usuario {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 0px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 68px;
    overflow: auto;
    padding: 2px;
    width: 99%;
    font-size:18px;
    background-color: white;
    border-radius: 9px;
    
}

.btn_chat{
    height:34px;
    width:90px;
}

.panel-footer{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

}

body {
    background-image: url("../img/bg_chat_dark.png");
}

.div_emoji{
overflow: hidden;
height:195px;
overflow: scroll;
width: 255px;
padding-left: 10px;
}

.broadcast_sistema {
      font-family: 'Open Sans', sans-serif;
      font-size: 12.5px;
      line-height: 21px;
      border-radius: 7.5px;
      color: rgba(0, 0, 0, 0.95);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 245, 196, 0.95);
      padding: 5px 12px 6px 12px;
      box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
      padding-top: 10px;
      padding-bottom: 10px;
      
    }

    .container_broadcast{
      display: flex;
      justify-content: center;
      padding-left:0px; 
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .emoticon_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

